:root {
	--color-pcc-primary: rgba(4, 85, 148, 1);
	--color-pcc-secondary: rgba(247, 144, 45, 1);
	--color-pcc-tertiary: rgba(0, 174, 239, 1);
	--color-pcc-black: rgba(13, 13, 13, 1);
	--color-pcc-dkgrey: rgba(128, 128, 128, 1);
	--color-pcc-ltgrey: rgba(227, 227, 227, 1);
	--color-pcc-primary-hover: rgba(3, 64, 111, 1);
	--color-pcc-secondary-hover: rgba(236, 119, 9, 1);
	--color-pcc-tertiary-hover: rgba(0, 146, 199, 1);
	--color-pcc-white: rgba(255, 255, 255, 1);
	--color-error: rgba(189, 66, 84, 1);
	--color-success-text: rgba(0, 128, 0, 1); 
}
.btn {
	background-color: #2e5e8e;
	color: #fff;
	border-radius: 0.3em;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding: 5px 10px;
	margin: 5px;
	text-decoration: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	vertical-align: middle;
}
.btn:hover {
	background-color: #1c3957;
	color: #fff;
	text-decoration: none;
}
.btn-primary {
	background-color: #045594;
	border-color: #045594;
	color: #fff;
}
.btn-primary:hover {
	background-color: #03406f;
	border-color: #03406f;
	color: #fff;
}
.card-horizontal {
	margin-bottom: 3rem;
}
.card-horizontal > :first-child {
	flex-basis: 70%;
	margin-right: 2%;
}
.card-horizontal > :last-child {
	flex-basis: 30%;
}
.card-horizontal > .card-body {
	margin-right: 2%;
	flex-basis: 70%;
}
.card-horizontal > .card-img {
	flex-basis: 30%;
}
.card-horizontal h1,
.card-horizontal h2,
.card-horizontal h3,
.card-horizontal h4 {
	margin-top: 0;
}
.card-horizontal img {
	margin: 0;
}
@media screen and (min-width: 730px) {
	.card-horizontal {
		display: flex;
		justify-content: flex-start;
	}
}
.hanging-indent {
	padding-left: 2.7rem;
	text-indent: -2.7rem;
}
.side-by-side {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0.6rem 0 1.1rem 0;
}
.side-by-side-item {
	flex-basis: 100%;
	margin: 0.6rem 0;
	padding: 0;
}
.side-by-side-item :is(figure, img) {
	width: 100%;
	margin: 0 auto !important;
}
@media screen and (min-width: 730px) {
	.side-by-side-item {
		flex-basis: 49%;
		margin: 0;
	}
	.side-by-side-item :is(figure, img) {
		max-width: none;
		margin-left: auto !important;
	}
}
.video-container {
	height: 0;
	margin: 1.7rem 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 2rem;
	position: relative;
}
.video-container iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.media-container {
	border: 1px solid rgba(51, 51, 51, 0.1);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
	margin: 1.4rem auto;
	padding: 0.3rem;
}
.media-container.reverse {
	flex-direction: column-reverse;
}
.media-container .media-object {
	overflow: hidden;
	padding-top: 2rem;
	padding-bottom: 55%;
	position: relative;
	width: 100%;
}
.media-container .media-object iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.media-container .media-info {
	padding: 0.8rem 0;
	width: 100%;
}
.media-container .media-info p {
	margin: 0;
}
.media-container .media-info .ratio-16x9 {
	padding-bottom: 56.25% !important;
}
@media screen and (min-width: 890px) {
	.media-container {
		max-width: 90%;
	}
}
.ratio-4x3 {
	padding-bottom: 75% !important;
}
.ratio-4x3-content {
	padding-bottom: 78% !important;
}
.ratio-3x2 {
	padding-bottom: 66.66% !important;
}
.ratio-8x5 {
	padding-bottom: 62.5% !important;
}
.ratio-1x1 {
	padding-bottom: 100% !important;
}
.border {
	background-color: var(--color-pcc-ltgrey);
	border-left: 3px solid #045594;
	margin: 1.4rem 0;
	padding: 0.6rem;
}
.border h1,
.border h2,
.border h3,
.border h4 {
	margin: 0 0 0.3rem 0;
	font-family: "Lato", sans-serif;
	color: var(--color-pcc-primary);
}
.border p {
	color: var(--color-pcc-black);
}
@media screen and (min-width: 768px) {
	.border {
		padding: 0.8rem;
	}
}
.border-yellow {
	background-color: #fcf9c3 !important;
	border: none;
	border-left: none;
	border-radius: 0;
	border-top: 2px solid #fdc92e !important;
	overflow: hidden;
	position: relative;
}
.border-yellow::before {
	border-width: 18px 18px 0 0;
	border-style: solid;
	border-color: #fcf9c3 #fff;
	bottom: 0;
	-webkit-box-shadow: 0 1px 1px rgba(13, 13, 13, 0.3),
		-1px 1px 1px rgba(13, 13, 13, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(13, 13, 13, 0.3),
		-1px 1px 1px rgba(13, 13, 13, 0.2);
	box-shadow: 0 1px 1px rgba(13, 13, 13, 0.3),
		-1px 1px 1px rgba(13, 13, 13, 0.2);
	content: "";
	position: absolute;
	right: 0;
}
.border-yellow h1,
.border-yellow h2,
.border-yellow h3,
.border-yellow h4,
.border-yellow p {
	color: #0d0d0d;
	margin: 0 0 0.6rem 0;
}
blockquote {
	font-size: 1.2em;
	line-height: 1.3;
	margin: 3.3rem 0;
	padding: 0.6rem;
	position: relative;
}
blockquote p,
blockquote ul li,
blockquote ol li {
	color: #393e54;
}
blockquote::before {
	content: "";
	font-family: "FontAwesome";
	font-size: 1em;
	position: absolute;
	right: 50%;
	top: -20px;
}
blockquote::after {
	bottom: -20px;
	content: "";
	font-family: "FontAwesome";
	font-size: 1em;
	position: absolute;
	right: 50%;
}
@media screen and (min-width: 730px) {
	blockquote {
		padding: 1.1rem 2.2rem;
		margin: 2.2rem 0;
	}
	blockquote::before {
		top: -5px;
	}
	blockquote::after {
		bottom: -10px;
	}
}
.text-center {
	text-align: center;
}
.border > blockquote {
	border-bottom: none;
}
.columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: var(--widget-padding);
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.columns > *,
.columns > * > * {
	width: 95%;
}

.expandable-banner {
  position: relative;
}

.expandable-banner img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.expandable-banner .expand-banner-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  bottom: 30%;
  background-color: var(--color-pcc-black);
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.expandable-banner .expand-banner-btn::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-pcc-white);
  font-family: FontAwesome;
  cursor: pointer;
}

/* Utility classes for image position overrides */
.expandable-banner.banner-top img {
  object-position: top;
}

.expandable-banner.banner-bottom img {
  object-position: bottom;
}

.expandable-banner.banner-left img {
  object-position: left;
}

.expandable-banner.banner-right img {
  object-position: right;
}

.banner-img-wrapper {
  position: relative;
}

.banner-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: grid;
	justify-content: center;
	padding: 1rem;
	grid-template-columns: minmax(500px, 700px) 2rem;
	grid-template-rows: 2rem minmax(600px, 700px);
	grid-template-areas:
			". close-btn"
			"image .";
}

.banner-overlay figure {
  grid-area: image;
	height: 100%;
	margin: 0 auto;
}

.banner-overlay img {
  height: 100%;
  object-fit: contain;
}

.close-overlay-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
	grid-area: close-btn;
}

@media screen and (max-width: 1024px) {
	#two-column #content-wrapper .col-4,
	#three-column #content-wrapper .col-4 {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}
@media screen and (min-width: 768px) {
	.col-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.col-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.col-4 {
		grid-template-columns: repeat(4, 1fr);
	}
	.columns:nth-of-type(even) {
		margin-left: auto !important;
	}
}
.menu-table {
	box-shadow: 4px 5px 20px 0px #bbb;
	margin: 1.1rem;
	padding: 0.8rem;
}
.menu-table table {
	background: transparent;
	margin: 1.1rem auto 0.3rem auto;
}
.menu-table table caption {
	color: #045594;
	padding-top: 0.6rem;
}
.menu-table th {
	color: #0d0d0d;
	font-size: 0.85em !important;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.menu-table td {
	background-image: linear-gradient(
		to right,
		#c8c8c8 33%,
		rgba(200, 200, 200, 0) 0%
	);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 6px 2px;
	padding-bottom: 0.3rem !important;
	padding-top: 0.6rem !important;
}
.menu-table td:nth-child(even) {
	margin-bottom: 1.1rem;
}
.menu-table td:first-child {
	color: #045594 !important;
}
.menu-table thead,
.menu-table tr,
.menu-table td,
.menu-table th {
	background-color: transparent !important;
	border: none;
}
.menu-table h2 {
	border-bottom: none;
	text-align: center;
}
.menu-table-inner {
	border: 2px solid #045594;
	padding: 1.1rem 0.6rem;
	position: relative;
}
@media screen and (min-width: 769px) {
	.menu-table th:nth-child(2),
	.menu-table th:nth-child(3),
	.menu-table td:nth-child(2),
	.menu-table td:nth-child(3) {
		text-align: right;
	}
	.menu-table tbody tr td:first-child {
		color: #000 !important;
	}
}
.call-out {
	background-color: var(--color-pcc-ltgrey);
	margin: 1.4rem 0;
	padding: 0.6rem;
}
.call-out p {
	color: var(--color-pcc-black);
}
.call-out::before {
	background: rgba(207, 207, 207, 1);
	color: var(--color-pcc-primary);
	content: "Explore More";
	display: block;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 700;
	margin: -0.6rem -0.6rem 0.6rem -0.6rem;
	padding: 0.3rem;
	text-align: center;
}
.invite {
	background-color: #fff;
	box-shadow: 4px 5px 10px 0px #bbb;
	margin: 1.1rem;
	padding: 0.8rem;
	text-align: center;
}
.invite h2,
.invite h3,
.invite h4 {
	border-bottom: none;
	margin-top: 1.1rem;
}
.invite-inner {
	border: 2px solid #045594;
	padding: 0.3rem 0.8rem;
	position: relative;
}
.invite-line {
	margin: -0.3rem auto 0px auto;
}
.content-body .invite-line,
.column-right .invite-line {
	margin: -0.3rem auto;
}
.footer-gallery {
	background-color: #fff;
	border-bottom: 1px solid rgba(13, 13, 13, 0.2);
	border-radius: 0 0 2px 2px;
	box-shadow: 0 8px 8px 0 rgba(13, 13, 13, 0.03);
	margin: 0px auto 0.8rem auto;
}
.row {
	display: block;
	margin: 0 auto;
	padding: 0;
}
.column {
	margin: 0.6rem;
	max-width: 100%;
	padding: 0.6rem;
}
.column img {
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	object-position: center;
}
@media screen and (min-width: 600px) {
	.row {
		align-items: center;
		display: flex;
		justify-content: space-around;
		margin: 0;
		padding: 0;
	}
	.column {
		height: 20vw;
		margin: 0;
	}
}
@media screen and (min-width: 730px) {
	.column {
		height: 15vw;
	}
	.footer-gallery {
		width: 100%;
	}
}
@media screen and (min-width: 1038px) {
	.column {
		height: 200px;
		width: 300px;
	}
}
.card {
	width: 100% !important;
}
#nav_btn {
	display: flex;
	justify-content: center;
	margin: auto;
	position: relative;
	text-align: center;
	white-space: nowrap;
}
#nav_btn button {
	background-color: #045594;
	border-radius: 25px;
	display: flex;
	height: 40px;
	margin: auto;
	text-align: center;
	width: 40px;
}
#nav_btn button:hover {
	background-color: #043e6b;
}
.icon-next:before {
	color: #fff !important;
	content: "";
	font-family: "FontAwesome";
	margin-left: auto !important;
	margin-right: auto !important;
}
.icon-prev:before {
	color: #fff !important;
	content: "";
	font-family: "FontAwesome";
	margin-left: auto !important;
	margin-right: auto !important;
}
.icon-flip:before {
	color: #fff !important;
	content: "";
	font-family: "FontAwesome";
	margin-left: auto !important;
	margin-right: auto !important;
}
.separator {
	content: url("https://d2l.pima.edu/shared/Templates/images/widgets/separator.svg");
	padding: 1.7rem 0px 2.2rem 0px;
}
.imgBorder {
	border: 1px solid #ddd;
	margin-left: 1.1rem;
	margin-right: 0;
	padding: 0.6rem;
}
.tooltip {
	border-bottom: 3px dotted rgba(58, 91, 104, 0.3);
	color: #3a5b68;
	display: inline-block;
	font-weight: 900;
	position: relative;
	z-index: 1;
}
.tooltip:hover {
	color: rgba(58, 91, 104, 0.5);
}
.tooltip:hover > .tip-hover {
	display: block;
}
.tooltip:hover .caption {
	display: inline-block;
	font-style: italic;
	font-size: 0.8em;
	font-weight: 900;
	padding-bottom: 0.6rem !important;
}
.tooltip:hover:after {
	border-color: transparent transparent #dde0e4 transparent;
	border-width: 15px;
	border-style: solid;
	content: "";
	filter: drop-shadow(1px 1px 1px rgba(13, 13, 13, 0.2));
	left: 50%;
	margin-left: -0.3rem;
	position: absolute;
	top: 80%;
	z-index: -1;
}
.tooltip.hidden:after {
	display: none;
}
.tip-hover {
	background-color: #dde0e4;
	border-radius: 6px;
	box-shadow: 2px 2px 1px rgba(13, 13, 13, 0.2);
	color: #282c2e;
	display: none;
	font-weight: 400 !important;
	margin-left: -3.3rem;
	padding: 0.3rem;
	position: absolute;
	text-align: center;
	top: 45px;
	transition: opacity 0.3s;
	width: max-content;
}
.tip-hover img {
	padding: 0.6rem;
	max-width: fit-content;
}
.tip-hover .video-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 2%;
	overflow: hidden;
	width: 96%;
}
.tip-hover .video-container iframe {
	border: none;
	flex-grow: 1;
	margin: 0;
	padding: 0;
}
.horizontal-display {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8.3rem, 1fr));
	grid-gap: 0.6rem;
	margin-bottom: 1rem;
}
.horizontal-display img {
	width: 100%;
}
@media screen and (min-width: 500px) {
	.fixed-col2 {
		grid-template-columns: repeat(2, minmax(8.3rem, 1fr));
	}
	.fixed-col3 {
		grid-template-columns: repeat(3, minmax(8.3rem, 1fr));
	}
	.fixed-col4 {
		grid-template-columns: repeat(4, minmax(8.3rem, 1fr));
	}
}
#video-grid {
	display: grid;
	grid-row-gap: 10px;
	grid-template-areas: "header" "body" "footer";
	padding: 0.8rem 2.5%;
	width: 95%;
}
#video-grid #content-wrapper {
	max-width: 1095px;
	z-index: 1;
}
#video-wrapper,
.video-widget {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16.7rem, 1fr));
	justify-items: center;
}
.video-widget .border {
	max-width: 100%;
	grid-column: 1/-1;
	justify-self: center;
}
#video-wrapper .video-card,
.video-widget .video-card {
	background: var(--color-pcc-ltgrey);
	border-top: 1px solid rgba(26, 97, 143, 0.3);
	box-shadow: 1px 1px 10px 2px rgba(13, 13, 13, 0.15);
	box-sizing: border-box;
	height: auto;
	margin: 0.8rem;
	padding: 0.6rem 0.3rem;
	position: relative;
	transition: 0.2s;
	width: 300px;
}
.two-card-col .video-card {
	margin: 1.4rem !important;
}
#video-wrapper .video-card h2,
.video-widget .video-card h2 {
	margin-top: 0.3rem;
	font-family: "Lato", sans-serif;
	color: var(--color-pcc-primary);
}
.video-card h3 {
	font-family: "Lato", sans-serif;
	color: var(--color-pcc-primary);
}
#video-wrapper .video-card p,
.video-widget .video-card p {
	font-size: 0.9em;
	color: var(--color-pcc-black);
}
#video-wrapper .video-card a.btn,
.video-widget .video-card a.btn {
	display: block;
	margin: 0.8rem auto 0.3rem;
	width: fit-content;
}
#video-wrapper .card-content,
.video-widget .card-content {
	bottom: 15px;
	width: 100%;
}
#video-wrapper .card-content,
.video-widget .card-content h3 {
	font-size: 1.122em;
	min-height: 54px;
	font-weight: 400;
	margin-bottom: 0.3rem;
	margin-top: 0.8rem;
}
#video-wrapper .video-container,
.video-widget .video-container,
#video-wrapper .media-container,
.video-widget .media-container {
	margin: 0.6rem auto;
}
.video-card-header {
	font-size: 1.1em;
	font-weight: 900;
	margin-top: 0.6rem;
	text-align: center;
}
@media all and (min-width: 900px) {
	#video-wrapper:hover .video-card,
	.video-widget:hover .video-card {
		opacity: 0.6;
		transform: scale(0.98);
	}
	#video-wrapper .video-card:hover,
	.video-widget .video-card:hover {
		opacity: 1;
		transform: scale(1.02);
	}
}
#second-column ul.assignments-widget,
#second-column ol.assignments-widget {
	margin: 0;
	padding: 0;
}
#content-wrapper ul.assignments-widget,
#content-wrapper ol.assignments-widget {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
li.assignment {
	background-color: var(--color-pcc-ltgrey);
	border-top: 1px solid var(--color-pcc-primary);
	border-radius: 0px;
	margin: 0;
	margin-bottom: 0.8rem;
	padding: 0.6rem;
	transition: 0.3s;
}
li.assignment:hover {
	transform: translate(0, -5px);
}
li.assignment h2,
li.assignment h3,
li.assignment h4 {
	background-color: rgba(207, 207, 207, 1);
	color: var(--color-pcc-primary);
	font-size: 1.15em;
	font-weight: 600;
	margin: -0.6rem -0.6rem 0.6rem -0.6rem !important;
	padding: 0.3rem 0.6rem;
	font-family: "Lato", sans-serif;
}
li.assignment ol li,
li.assignment ul li {
	margin: 0;
}
li.assignment p,
li.assignment ol,
li.assignment ul,
li.assignment .btn {
	font-size: 0.95em;
}
li.assignment p {
	color: var(--color-pcc-black);
}
li.assignment::before,
li.assignment::marker {
	content: none;
}
@media screen and (min-width: 576px) {
	#content-wrapper li.assignment {
		flex-basis: 45%;
	}
}
@media screen and (min-width: 768px) {
	#content-wrapper li.assignment {
		flex-basis: 30%;
	}
}
.modal-box.invisible {
	display: none;
}
.gallery-wrapper {
	display: grid;
	grid-auto-rows: 16.7rem;
	grid-gap: 0.6rem;
	justify-items: center;
	margin: 1rem 0;
}
.close-img:hover {
	background-color: #f6f6f6;
	color: #0d0d0d;
}
.image-box {
	width: 100%;
}
.image-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.image-box:focus-visible {
	outline: -webkit-focus-ring-color 2px solid;
	border-radius: 2px;
}
@media screen and (max-width: 768px) {
	.modal-box {
		display: none;
	}
	.hide-gallery {
		margin: 0.3rem 0 0.8rem 0;
	}
	.gallery-wrapper.invisible {
		display: none;
	}
}
@media screen and (min-width: 500px) {
	.gallery-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(11.1rem, 1fr));
		grid-auto-rows: 11.1rem;
	}
}
@media screen and (min-width: 768px) {
	.hide-gallery {
		display: none;
	}
	.gallery-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
		grid-auto-rows: 4.5rem;
	}
	.gallery-wrapper .image-box {
		position: relative;
		margin: auto;
		overflow: hidden;
		height: 80px;
		width: 100%;
	}
	.gallery-wrapper .image-box img {
		max-width: 100%;
		transition: all 0.3s;
		display: block;
		width: 100%;
		height: 100%;
		transform: scale(1);
		filter: grayscale(0.6);
		cursor: pointer;
		object-fit: cover;
	}
	.gallery-wrapper .image-box:hover img {
		transform: scale(1.1);
		filter: grayscale(0);
	}
	.modal-box {
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(13, 13, 13, 0.7);
		transition: all 0.33s ease-out;
		z-index: 1;
		left: 0;
		top: 0;
	}
	.modal-box .gallery-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.modal-box--image {
		background: none;
		position: absolute;
		width: inherit;
		height: inherit;
		max-width: 90%;
		z-index: 3;
		left: 50%;
		transform: translate(-50%, -50%);
		border: none;
		margin: 0 auto;
		box-shadow: none;
		top: 25%;
		max-height: 2500px;
	}
	.modal-box--image img {
		width: auto;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		padding: 1.1rem 1.1rem 5.5rem;
		border-radius: 5px;
		box-shadow: 5px 10px 20px rgba(13, 13, 13, 0.8);
		height: 700px;
		object-fit: cover;
	}
	.close-img {
		font-size: 1rem;
		background-color: #0d0d0d;
		color: #fff;
		position: absolute;
		padding: 0.6rem 1.1rem;
		border-radius: 20px;
		top: 900px;
		left: 50%;
		cursor: pointer;
	}
	.img-caption {
		position: absolute;
		top: 68%;
		background-color: transparent;
	}
}
@media screen and (min-width: 900px) {
	.close-img {
		top: 900px;
	}
	.img-caption {
		top: 68%;
	}
}
@media screen and (min-width: 1024px) {
	.modal-box--image {
		top: 35%;
	}
	.modal-box--image img {
		top: 50%;
	}
	.close-img {
		top: 750px;
	}
	.img-caption {
		top: 63%;
	}
}
.vocab-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 1em;
}
.vocab {
	border-radius: 15px 15px 15px 15px;
	background-color: var(--color-pcc-ltgrey);
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.15);
	margin: 10px auto;
	max-width: 275px;
	padding: 1em;
	justify-content: center;
	transition: 0.5s;
}

.vocab dt {
	margin: 0.5em 0;
	color: var(--color-pcc-primary);
}
.vocab dd {
	color: var(--color-pcc-black);
}
.vocab:hover {
	transform: translate(0, -5px);
	transition: 0.5s;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.25);
}
dl.contact-info {
	display: grid;
	margin: 1rem 0;
	row-gap: 1em;
	grid-template-columns: 5.5rem auto;
}
dl.contact-info dt {
	width: fit-content;
}
dl.contact-info dd {
	margin: 0 !important;
	grid-column: 2;
}
dl.contact-info dd + dd {
	margin-top: -1rem !important;
}
dl.vocab-list {
	box-sizing: border-box;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}
dl.vocab-list button {
	text-decoration: none;
	background-color: var(--color-pcc-primary);
	font-size: 1em;
	margin: 0.3rem;
	padding: 0.6rem;
	color: #fff;
}
dl.vocab-list button:hover {
	cursor: pointer;
	background-color: var(--color-pcc-primary-hover);
	color: #fff;
}
dl.vocab-list dt {
	background-color: var(--color-pcc-ltgrey);
	position: relative;
	color: var(--color-pcc-black);
	cursor: pointer;
	padding: 0.6rem 0.8rem;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin: 0.3rem 0px;
}
dl.vocab-list dt:focus-visible {
	outline: 2px solid var(--color-pcc-black);
}
dl.vocab-list dt:hover {
	background-color: #d5cac9;
}
dl.vocab-list dt::after {
	position: absolute;
	font-family: "Font Awesome";
	content: "➕";
	font-size: 13px;
	color: var(--color-pcc-black);
	opacity: 1;
	right: 10px;
}
dl.vocab-list dt.active::after {
	content: "➖";
}
dl.vocab-list dd {
	padding: 0.6rem 0.8rem;
	display: none;
	border-style: inset;
	overflow: hidden;
	border: 1px solid var(--color-pcc-ltgrey);
	margin-top: -0.3rem;
	border-top: none;
	background-color: var(--color-pcc-white);
	color: var(--color-pcc-black);
}
@media screen and (min-width: 700px) {
	dl.vocab-list dd {
		padding: 0.8rem 0.6rem;
	}
	dl.vocab-list dt {
		padding: 0.8rem 2rem 0.8rem 0.6rem;
	}
}
.tabs {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 2.2rem;
	max-width: 860px;
}
.tabs input {
	position: absolute;
	opacity: 0;
}
.tabs input:focus {
	outline: 1px dotted #212121;
	outline: 5px auto -webkit-focus-ring-color;
}
.tabs input:focus + label {
	outline: 1px solid #006fbf;
}
.tabs input:checked + label {
	background-color: var(--color-pcc-white);
	color: var(--color-pcc-black);
	z-index: 2;
	transition: 0.5s;
}
.tabs input:checked + label + .tab-panel {
	display: block;
	background-color: var(--color-pcc-white);
	z-index: 1;
	border: 2px solid #ccc;
}
.tabs input:checked + label.hide-tab {
	background-color: var(--color-pcc-white);
	color: var(--color-pcc-white);
	text-decoration: underline;
}
.tabs label {
	background-color: #6e6e6e;
	border: 2px solid #ccc;
	border-bottom: none;
	width: 100%;
	text-align: center;
	transition: 0.5s;
	color: var(--color-pcc-white);
	padding: 2px;
}
.tabs label.hide-tab {
	background-color: transparent !important;
	border: none !important;
}
.tabs label span {
	background: transparent;
}
.hide-panel {
	background-color: transparent !important;
	display: none !important;
}
.hide-tab {
	color: var(--color-pcc-white);
}
.tab-header:hover {
	cursor: pointer;
}
@media (min-width: 700px) {
	.tabs label {
		width: fit-content;
	}
	.tab-panel {
		order: 99;
	}
}
.tab-panel {
	display: none;
	background: var(--color-pcc-white);
	padding: 1.1rem 0.6rem;
	overflow: auto;
	width: 100%;
	height: 300px;
}
.tab-panel > * {
	margin-top: 1.1rem;
	color: var(--color-pcc-black);
	font-family: "Lato", sans-serif;
}
table {
	border-collapse: collapse !important;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	margin: 40px 20px 15px 20px;
	text-rendering: optimizeLegibility;
}
table th {
	font-size: 1.0625em;
	font-weight: bold;
	line-height: normal;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	border: none;
}
table thead,
table tr,
table td {
	border: 1px solid rgba(193, 193, 193, 0.155);
	vertical-align: top;
}
table caption {
	font-size: 1.3rem;
	margin: 0.25rem;
	margin-bottom: 0.25rem;
}
table thead th {
	font-weight: 600;
}
table thead th,
table tbody td {
	font-size: 1rem;
	padding: 0.8rem;
}
table tbody tr {
	font-size: 1rem;
	padding: 0.8rem;
}
table.display-lg {
	width: 100%;
	background-color: var(--color-pcc-white);
}
table.display-lg tbody {
	color: var(--color-pcc-black);
}
table.display-lg td,
table.display-lg th {
	font-size: 1em;
	padding: 10px 10px 20px 10px;
}
table.display-lg thead {
	background-color: var(--color-pcc-primary);
}
@media screen and (min-width: 730px) {
	table {
		margin: 20px 0 5px 0;
	}
}
@media screen and (min-width: 768px) {
	table.custom-width th:first-child {
		width: 40%;
	}
	table.custom-width th:nth-child(2) {
		width: 20%;
	}
}
@media screen and (min-width: 998px) {
	tr:nth-child(even) {
		background: var(--color-pcc-ltgrey);
	}
}
@media screen and (max-width: 768px) {
	table.display-lg {
		background: var(--color-pcc-white);
		display: inline-table !important;
		margin: 10px auto;
	}
	table.display-lg thead {
		display: none;
	}
	table.display-lg tbody td {
		display: block;
		padding: 0.6rem;
	}
	table.display-lg tbody td a {
		color: var(--color-pcc-white);
	}
	table.display-lg tbody td a:hover {
		color: var(--color-pcc-ltgrey);
	}
	table.display-lg tbody td:first-child {
		background: var(--color-pcc-primary);
		color: #fff;
	}
	table.display-lg tbody td::before {
		content: attr(data-th) ": ";
		display: inline-block;
		font-weight: bold;
		padding-right: 5px;
		width: auto;
	}
}
.accordion {
	margin-bottom: 15px;
}
.accordion .accordion-title {
	background-color: var(--color-pcc-ltgrey);
	color: var(--color-pcc-primary);
	font-family: "Lato", sans-serif;
	margin-bottom: 0;
	padding: 10px;
	position: relative;
	border-bottom: 0.1px solid rgba(210, 210, 210, 1);
}
.accordion .accordion-title p {
	margin: 0;
}
.accordion .accordion-title:hover {
	background-color: rgba(215, 215, 215, 1);
	cursor: pointer;
}
.accordion .accordion-content {
	padding: 10px;
	background-color: var(--color-pcc-white);
}
.accordion .accordion-content p {
	margin: 0;
	color: var(--color-pcc-black);
}
.accordion .arrow-down:after {
	content: "\f078";
	font-family: "FontAwesome";
	display: inline-block;
	height: 16px;
	margin-left: 5px;
	width: 16px;
	position: absolute;
	right: 1rem;
}
.accordion .arrow-up:after {
	content: "\f077";
	font-family: "FontAwesome";
	display: inline-block;
	height: 16px;
	margin-left: 5px;
	width: 16px;
	position: absolute;
	right: 1rem;
}

/* White Background for Content Lock Widget */

.white-background {
	background-color: white;
	padding: 15px;
}

.white-background h2 {
	color: var(--color-pcc-dkgrey);
}

.white-background p {
	color: var(--color-pcc-black);
}

/* Content Lock Widget */

.content-body {
	margin-bottom: 10px;
	padding: 15px;
	background-color: white;
	color: black;
}

.padding-top-20 {
	padding-top: 20px;
}

.locked-content {
	background-image: linear-gradient(
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
	position: relative;
	overflow: hidden;
	max-height: 200px;
	transition: max-height 0.3s ease; /* Add a transition for max-height */
	color: black;
}

.locked-content p {
	color: black;
}

.locked-content.open {
	max-height: 100%;
}

.locked-content.open::before {
	content: none;
}

#CourseLockBtn {
	cursor: pointer;
}

.locked-content::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 70%,
		rgba(255, 255, 255, 1) 100%
	);
	z-index: 1; /* Ensure it's above the content */
}

.instructions {
	position: relative;
	margin-top: 0px;
	z-index: 4;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-top: 40px;
	width: 100%;
}

.instructions p {
	color: black;
	text-align: center;
	margin-top: 1rem;
}

.instructions::before {
	content: "\f023";
	font-family: "FontAwesome";
	font-weight: 900;
	font-size: 1.5em;
	margin-right: 10px;
	opacity: 1;
	color: #2e5e8e;
	display: block;
	width: 100%;
}

.instructions h4 {
	width: 100%;
}

/* Hides the quiz or instructions area for content lock */
.instructions.complete, .quiz.complete {
	display: none;
}

.unlock-btn:hover {
	cursor: pointer;
	background-color: #1c3957;
	color: #fff;
	text-decoration: none;
}

.unlock-btn {
	background-color: #2e5e8e;
	display: block;
	color: #fff;
	border: 3px solid #2e5e8e;
	border-radius: 0.3em;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding: 5px 10px;
	margin: 5px;
	text-decoration: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: fit-content;
	margin: auto;
	margin-bottom: 15px;
}

/* Content Lock Quiz Widget */

.quiz form {
  background-color: var(--color-pcc-ltgrey);
  z-index: 10;
  display: flex;
  justify-content: unset;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
  margin: 40px;
  padding: 15px;
  border-radius: 5px;
  gap: 10px;

label.quiz-option {
  display: flex;
  align-items: flex-start; /* keeps input aligned to first line */
  gap: 8px; /* space between input and text */
  width: fit-content;
  height: auto;
  cursor: auto;
}

.quiz-option input {
  margin-right: 10px;
  margin-top: 3px; /* optional: fine-tune vertical alignment */
}

h3, span {
	color: var(--color-pcc-black);
}

.quiz-error-message {
  color: var(--color-error);
}

.quiz-success-message {
	color: var(--color-success-text);
}

}

.reset-locked-area-btn {
    font-size: var(--font-size-small);
    color: var(--color-pcc-dkgrey);
    background: rgba(0,0,0,0);
    border: 2px solid var(--color-pcc-ltgrey);
    padding: 2px 5px;
    transition: .2s;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 10px;
}

/* Flip Card CSS  */

:root {
	--clear-black: rgba(0, 0, 0, 0.7);
}

/* Flip Card Widget */

/* Grid szing for flip cards (3 rows of flip cards - uniform size)  */

.flip-card-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16.7rem, 1fr));
}

.flip-card-group .flip-card {
	background-color: transparent;
	min-width: 300px; /* 998px is content wrapper size, so adjusting for margins and 3 cards per row, this is a good width */
	min-height: 300px;
	perspective: 1000px;
	display: grid;
	margin: 10px;
}

.flip-card:hover {
	cursor: pointer;
}

/* Flip Card Sizes */

/* Vertically stretched cards (accomodates ~100 words or ~450 characters) */
.flip-card-group.long .flip-card {
	height: 500px;
}

/* If flip card is placed inside a side-by-side, the width will adjust to try take up the space equally. */
.side-by-side .flip-card {
	width: -webkit-fill-available;
	max-width: 500px;
}

/* –––––––––––––––– */

/* Flip class being added */
.flip-card > div.flip {
	transform: rotateX(180deg);
}

/* Flip card inner  */
.flip-card > div {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: transform 0.6s;
}

/* Flip card front & back  */
.flip-card > div > div {
	position: absolute;
	background-color: var(--color-pcc-ltgrey);
	color: var(--color-pcc-black);
	width: -webkit-fill-available;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	align-items: center; /* Center vertically */
	justify-content: center; /* Center horizontally */
	padding: 0 20px;
}

/* Flip card back */
.flip-card > div .back {
	transform: rotateX(180deg);
	background-color: var(--color-pcc-ltgrey);
	color: var(--color-pcc-black);
	height: 100%;
	backface-visibility: hidden; /* Ensure back face is hidden during flip */
	position: absolute;
}
/* Flip card front-text (overlay) */
.flip-card > div .front .overlay {
	opacity: 0; /* Initially hidden */
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--clear-black); /* Semi-transparent black background */
	color: white; /* Text color */
	transition: opacity 0.3s, transform 0.6s; /* Add transform transition */
	z-index: 2;
}

/* Flip card back-text (overlay) */
.flip-card > div .back .overlay {
	opacity: 0; /* Initially hidden */
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--clear-black); /* Semi-transparent black background */
	color: white; /* Text color */
	transition: opacity 0.3s, transform 0.6s; /* Add transform transition */
	z-index: 2;
}

/* Flip card hover front (overlay) */
.flip-card:hover > div .front .overlay {
	opacity: 1; /* Show the overlay on hover */
}

/* Flip card hover back (overlay) */
.flip-card:hover > div .back .overlay {
	opacity: 1; /* Show the overlay on hover */
}

/* Button animations */
.btn.change-bg-color {
	background-color: var(--color-pcc-primary);
	transition: all 0.5s ease-in-out;
}

.btn.change-bg-color:hover {
	background-color: var(--color-pcc-primary-hover);
	border-color: var(--color-pcc-primary-hover);
}

.btn.slide-bg-color {
	position: relative;
	background-color: var(--color-pcc-primary);
	color: var(--color-pcc-white);
	overflow: hidden;
	z-index: 1;
	border: none;
}

.btn.slide-bg-color::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--color-pcc-primary-hover);
	z-index: -1;
	transition: left 0.5s ease-out;
}

.btn.slide-bg-color:hover {
	background-color: var(--color-pcc-primary);
}

.btn.slide-bg-color:hover::before {
	left: 0;
}

.btn.pulse-hover {
	transition: transform 0.3s ease;
	background-color: var(--color-pcc-primary);
}

.btn.pulse-hover:hover {
	transform: scale(1.05);
	background-color: var(--color-pcc-primary-hover);
}

.btn.click-shadow {
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	background-color: var(--color-pcc-primary);
}

.btn.click-shadow:active {
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(2px);
	background-color: var(--color-pcc-primary-hover);
}

.btn.hover-glow {
	transition: box-shadow 0.3s ease;
	background-color: var(--color-pcc-primary);
}

.btn.hover-glow:hover {
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
	background-color: var(--color-pcc-primary-hover);
}

.btn.rounded-bg-slide {
	border-radius: 10rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: none;
	background-color: var(--color-pcc-primary);
}

.btn.rounded-bg-slide::before {
	content: "";
	background-color: var(--color-pcc-primary-hover);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	transition: all 0.3s;
	border-radius: 10rem;
	z-index: -1;
}

.btn.rounded-bg-slide:hover::before {
	width: 100%;
}

.btn.parallel-outlines {
	transition: all 0.3s;
	position: relative;
	border: transparent;
	border-radius: 0;
	background-color: var(--color-pcc-primary);
}

.btn.parallel-outlines:hover {
	background: transparent;
	color: var(--color-dark-primary);
}

.btn.parallel-outlines:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.btn.parallel-outlines:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

.btn.parallel-outlines::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: var(--color-pcc-primary);
	border-bottom-color: var(--color-pcc-primary);
	transform: scale(0.1, 1);
}

.btn.parallel-outlines::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}

.btn.outline {
	transition: all 0.5s;
	position: relative;
	background-color: var(--color-pcc-primary);
	border: none;
	border-radius: 0;
}

.btn.outline:hover {
	background-color: transparent;
	color: var(--color-pcc-primary);
}

.btn.outline:hover::before {
	opacity: 0;
	transform: scale(0.5, 0.5);
}

.btn.outline:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}

.btn.outline::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}

.btn.outline::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid var(--color-pcc-primary);
	transform: scale(1.2, 1.2);
}

:root {
	--color-heart: rgba(220, 20, 60, 1); 
	--post-likes-default: "Liked by 2,834 people";
	--post-likes-toggle: "Liked by 2,835 people"; 
}

.social-post {
  width: auto;
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
  padding-bottom: 20px;
	background-color: var(--color-pcc-white);
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.social-post-title {
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
	color: var(--color-pcc-black);
}

.social-post-image img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 10px;
}

.social-post-body {
  padding: 10px 15px;
	color: var(--color-pcc-black);
}

.social-post-likes {
  font-weight: bold;
  padding: 0px 15px 10px;
}

.social-post-likes::before {
  content: var(--post-likes-default);
  font-weight: bold;
  display: block;
	color: var(--color-pcc-black);
}

.social-post.liked .social-post-likes::before {
  content: var(--post-likes-toggle);
	color: var(--color-pcc-black);
}

.social-post-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
}

.social-post-icons span {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  margin-right: 10px;
}

.like-icon::before {
  content: "\f004";
  color: var(--color-pcc-black);
	cursor: pointer;
}

.comment-icon::before {
  content: "\f075";
  color: var(--color-pcc-dkgrey);
}

.liked .like-icon::before {
	font-weight: 900;
  color: var(--color-heart)
}

/* Persistent Checklist styles */

div.persistent-checklist-container {
	padding: 15px;
}

.persistent-checklist.strike-through label {
	position: relative;
	cursor: pointer;
	transition: color 0.5s ease-in-out;
}

.persistent-checklist.strike-through label::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 0%;
	height: 2px;
	min-height: 2px;
	max-height: 2px;
	background-color: var(--color-pcc-black);
	transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 0;
	overflow: hidden;
	display: block;
	box-sizing: border-box;
}

.persistent-checklist.strike-through .persistent-checklist li:first-child label::after {
	height: 2px !important;
	min-height: 2px !important;
	max-height: 2px !important;
}

.persistent-checklist.strike-through input[type=checkbox]:checked + label {
	color: var(--color-pcc-dkgrey);
}

.persistent-checklist.strike-through input[type=checkbox]:checked + label::after {
	width: 100%;
	opacity: 1;
}

ul.persistent-checklist li::marker {
	color: rgba(0, 0, 0, 0) !important;
}

.persistent-checklist li {
	display: grid;
	grid-template-columns: 20px auto;
	grid-gap: 0.5rem;
	align-items: baseline;
}

.persistent-checklist ul.not-persistent li,
.persistent-checklist ol.not-persistent li {
	display: list-item;
}

[dark-mode-on] .persistent-checklist.strike-through label::after {
	background-color: var(--dark-mode-main-text);
}

[dark-mode-on] .persistent-checklist.strike-through input[type=checkbox]:checked + label {
	color: var(--dark-mode-secondary-text);
}

[dark-mode-on] ul.persistent-checklist li::marker {
	color: rgba(0, 0, 0, 0) !important;
}

dl.numbered-list {
  /* Initializes a counter named 'step-counter' */
  counter-reset: step-counter;
  padding-left: 0; /* Removes default list padding */
}

dl.numbered-list dt {
  font-weight: bold;

  /* Increments the counter for each <dt> */
  counter-increment: step-counter;
}

dl.numbered-list dt::before {
  /* Displays the counter value */
  content: counter(step-counter) ". ";
  margin-right: 0.4em;
}

dl.numbered-list dd {
  /* Adds indentation for readability */
  margin-left: 1.5em !important;
  margin-bottom: 1em;
  margin-top: 0.5rem;
}

/* Calendar Card Widget */

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16.7rem, 1fr));
	justify-items: center;
	gap: 1.6rem;
	margin: 1.5rem 0;
}

.calendar-grid .calendar-card {
	align-items: flex-start;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), var(--card-bg-image, url('/images/widgets/calendar-cards/calendar-card_discussion-post.jpg'));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 2px rgba(13, 13, 13, 0.15);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: flex-start;
	padding: 1rem;
	position: relative;
	text-align: left;
	transition: all 0.2s ease-in-out;
	width: 100%;
	max-width: 300px;
}

.calendar-grid .calendar-card h3 {
	color: var(--color-pcc-white);
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	margin: 0;
}

.calendar-grid .calendar-card h4 {
	color: var(--color-pcc-white);
	font-size: 1.1rem;
	font-weight: 700;
	margin: 0.3rem 0;
}

.calendar-card a.btn {
	background-color: var(--color-pcc-white);
	color: var(--color-pcc-black);
	border: none;
	border-radius: 0;
	display: inline-block;
	margin-top: auto;
	margin-bottom: 0;
}

.calendar-grid .calendar-card .card-image {
	display: none;
}

.calendar-grid .calendar-card.discussion-post {
	--card-bg-image: url('/images/widgets/calendar-cards/calendar-card_discussion-post.jpg');
}

.calendar-grid .calendar-card.discussion-response {
	--card-bg-image: url('/images/widgets/calendar-cards/calendar-card_discussion-response.jpg');
}

.calendar-grid .calendar-card.activity {
	--card-bg-image: url('/images/widgets/calendar-cards/calendar-card_practice.jpg');
}

.calendar-grid .calendar-card.reading {
	--card-bg-image: url('/images/widgets/calendar-cards/calendar-card_reading.jpg');
}

.calendar-grid .calendar-card.quiz {
	--card-bg-image: url('/images/widgets/calendar-cards/calendar-card_quiz.jpg');
}

@media screen and (min-width: 1024px) {
	.calendar-grid:hover .calendar-card,
	.calendar-grid:focus-within .calendar-card {
		opacity: 0.6;
		transform: scale(0.98);
	}

	.calendar-grid .calendar-card:hover,
	.calendar-grid .calendar-card:focus-within {
		opacity: 1;
		transform: scale(1.02);
		z-index: 1;
	}
}
